<?xml version="1.0" encoding="utf-8"?>
<packages>
	<configuration>
		<connectionStrings>
			<add name="SIMContext" connectionString="data source=172.16.0.47;user id=SysDev; password=D3sarr0ll0; initial catalog=Tramites;integrated security=false;" providerName="system.data.sqlclient" />
		</connectionStrings>
	</configuration>

	<package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net48" />
</packages>